.heart {
    width: 100%;
    height: 79vh;
}

.heart h1 {
    font-size: 42px;
    color: #111;
    font-weight: 550;
}

.heart div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.heart div h2 {
    font-size: 32px;
    font-weight: 560;
}