@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", system-ui;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input,
select,
textarea {
  outline: none;
}

:root {
  --main-color: #da002b;
  --text-color: #111;
}

#router {
  max-width: 1440px;
  margin: 0 auto;
}

*::selection {
  color: white;
  background-color: var(--main-color);
}
